@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  /* width: 100vw; */
  background-color: rgb(253, 253, 253);
  /* border: 1px solid orange; */
}

/* .app-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
} */
/* FOOTNAV COMPONENT STYLES */

.foot-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid blue; */
  background-color: #fff;
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  position: fixed;

  box-shadow: 0 -3px 0.5rem rgb(226, 226, 226);
  bottom: 0;
  left: 0;
}

.footer-icon,
.side-nav {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;

  align-items: center;
  cursor: pointer;
}

.footerIcon-img {
  height: 1.5rem;
}
/* .footer-task-img-cont {
  background-color: #9eafff;
  padding: 0 0.2rem;
  border-radius: 0.5rem;
  display: flex;
} */
/* .footer-text {
  margin-top: 0.5rem;
  font-size: 12px;
} */

@media (min-width: 768px) {
  .footerIcon-img {
    height: 2.5rem;
  }
}
/* .side-nav {
  border: 1px solid orange;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

/* LOAD PAGE STYLES */

.load-page-logo-cont {
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 90%, 0.341);
  padding: 1rem;
  width: 10rem;
  height: auto;
}

.load-page-logo-cont {
  margin-bottom: 5rem;
}

.loadPage-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.loadTitle {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 2rem;
  color: #9eafff;
  visibility: hidden;

  animation: showTitle 1s linear 2s forwards;
  align-items: center;
}

@keyframes showTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.loadTitle img {
  margin-right: 1.5rem;
  height: 2rem;
  display: flex;
}

.load-page-img-div {
  display: flex;
}
.bar {
  height: 0.8rem;
  width: 6rem;
  border-radius: 1rem;
}
.green-bar {
  background-color: #03d9bc;
}
.purple-bar {
  background-color: #ffaee4;
}
.blue-bar {
  background-color: #9eafff;
}

.logo-bar {
  animation: showBar 0.5s linear;
}

@keyframes showBar {
  0% {
    width: 0;
  }
  100% {
    width: 6rem;
  }
}
.blue-checkmark {
  animation: popBig 1s ease-in-out 0.8s;
}

@keyframes popBig {
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

/* SIDE NAV STYLES */

.side-nav-logo-cont {
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 90%, 0.341);
  padding: 0.5rem;
  /* width: 7rem; */
  /* height: auto; */
}
.nav-cont-body {
  width: 100%;
  background-color: rgba(247, 247, 247, 0.493);

  padding-bottom: 4rem;
}
.nav-header-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  /* width: 80%; */
  width: 100%;
  background-color: #435bc5;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}
.navContainer {
  width: 80%;
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-weight: bold;
  font-size: 1.5rem;
  color: #9eafff;
  color: #fff;
  margin-right: 1rem;
}
.nav-header img {
  height: 1.1rem;
}
.sideNavLogoImg {
  margin-right: 1rem;
}
.side-nav-logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  margin: 0.5rem 0;
}
.side-nav-logo-item img {
  margin-right: 0.5rem;

  height: 1rem;
}
.side-nav-sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  /* border: 3px solid green; */
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.profile:hover {
  background-color: rgba(212, 212, 212, 0.473);
}
.profile:active,
.notification-item:active {
  transform: scale(1.05) translateX(2px) translateY(2px);
}

.followItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
}
.followItem img {
  height: 20px;
}

.profile-name {
  font-weight: bold;
  margin-right: 0.5rem;
  max-width: 120px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-btn img {
  height: 1.5rem;
}
.notification {
  display: flex;
  flex-direction: row;
  /* border: 1px solid orange; */
}
.notification img {
  height: 1.5rem;
}
.notification-icon,
.side-bar-icon {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.navItem:hover,
.notification-item:hover {
  background-color: rgba(210, 210, 210, 0.5);
}
.navItem {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  /* position: relative; */
  /* border: 1px solid blue; */
}

.proSect {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* border: 1px solid blue; */
  align-items: center;
  padding-left: 0.5rem;
}
.proSect:hover {
  background-color: rgba(210, 210, 210, 0.5);
}

.theme img,
.category img,
.donate img,
.feedback img,
.settings img,
.share img,
.follow img {
  margin-right: 1rem;
  height: 1.5rem;
}
.proSect img {
  margin-right: 1rem;
  height: 2rem;
}
.search img {
  margin-right: 1rem;
  height: 2rem;
}
.proText {
  font-weight: bold;
}

.addtaskImg {
  background-color: rgb(74, 74, 255);
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1rem;
  border-radius: 50%;
}
.category,
.category1st {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.categoryDropdown img {
  height: 1rem;
}
.categoryText,
.addTaskText {
  font-weight: bold;
}
.addTaskText {
  color: rgb(58, 58, 252);
}
.nav-hr {
  height: 0.5px;
  width: 100%;
  background: rgb(161, 161, 161);
  margin: 0.5rem 0;
}

/* TASKCATEGORY STYLES */

.taskCategoryCont {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100vw;
  padding: 0.5rem 0 0.5rem 0.5rem;
  overflow-x: scroll;
  overflow-y: auto;
  height: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 1rem;
  /* border: 5px solid blue;s */
}

.taskCategoryCont::-webkit-scrollbar {
  display: none;
}

.taskCont {
  flex: 0 0 auto;
  background-color: #ccd1e9;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  color: rgb(83, 83, 83);
  margin-right: 0.5rem;
  cursor: pointer;
}

.taskCont.active {
  background-color: #537ec4;
  color: white;
}

.taskNavImg {
  position: fixed;
  background: #fff;

  padding: 0.5rem;
  right: -5px;
  top: 0;
  cursor: pointer;
  /* border: 1px solid blue; */
}

.addTaskCont {
  height: 4rem;
  width: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 7.5rem;
  right: 1.5rem;
  cursor: pointer;

  /* animation: spread 1s linear infinite; */
}

.addTaskCont::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  animation: spread 2s linear infinite;
}

@keyframes spread {
  0%,
  28% {
    transform: scale(1);
    background-color: rgb(146, 146, 253);
    opacity: 1;
  }
  30% {
    transform: scale(1.1);
    background-color: rgb(146, 146, 253);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.25);
    background-color: rgb(67, 67, 207);
    opacity: 0.4;
  }
  75% {
    transform: scale(1.4);
    background-color: rgb(67, 67, 207);
    opacity: 0.2;
  }
  100% {
    transform: scale(1.55);
    background-color: rgb(67, 67, 207);
    opacity: 0;
  }
}
.addTask {
  background-color: rgb(84, 84, 230);

  height: 4rem;
  width: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  border-radius: 50%;
  box-shadow: 3px 5px 10px rgba(153, 152, 152, 0.795);
}

.taskImgCont {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding-bottom: 10rem; */
}
.taskImgCont img {
  margin-bottom: 1rem;
}

/* THEME */

.themeHeader {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.BackArrow {
  position: fixed;
  top: 1rem;
  left: 1rem;
  height: 1rem;
  cursor: pointer;
}

.themeTitle {
  font-weight: bold;
  margin-left: 1rem;
  font-size: 2rem;
}
.themeCont {
  justify-content: center;
  /* border: 1px solid blue; */
  align-items: center;
  height: 100vh;
  padding: 2rem;
  /* grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(2, 150px);
  gap: 2rem; */
  display: flex;
  flex-direction: column;
}
.themeContItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.themeItem {
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #40024d;
  font-weight: bold;
  height: 100px;
  width: 300px;
  margin-bottom: 0.3rem;
}
.themeItem:hover {
  transform: scale(1.05);
}
.purpleTheme {
  background-color: #ffaee4;
}
.orangeTheme {
  background-color: rgb(255, 188, 63);
}
.blackTheme {
  background-color: black;
  color: #fff;
}
.greenTheme {
  background-color: #03d9bc;
}

/* COMPLETED TASK PAGE STYLES */

.completedHeader {
  /* border: 1px solid blue; */
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;

  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.completedTime {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(115, 115, 248);
}

/* CALENDAR PAGE STYLES */
.calendarContainer {
  background-size: 50%;
  background-image: url("/images/coffee-lightblue.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
}
.calheadleft {
  padding: 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.calendarContainer .react-calendar {
  border: none;
  background: transparent;
}

.calendarContainer .react-calendar__navigation {
  width: 300px;
  max-width: 90%;
}

.calendarContainer .react-calendar__tile--now {
  background: #435bc5 !important;
  color: #fff !important;
  border-radius: 0.5rem;
}
.calendarContainer .react-calendar__navigation__label {
  font-weight: bold;
  font-size: 1.1rem;
  color: #394fb1 !important;
}
.calendarContainer .react-calendar abbr {
  text-decoration: none;
  border-bottom: none;
  cursor: default;
}
.calendarContainer .react-calendar__navigation__arrow {
  font-weight: bold !important;
  font-size: 1.5rem;
}
.calNotaskText {
  height: 200px;
  display: flex;
  color: grey;
  justify-content: center;
  align-items: center;
}

.calTasksCont {
  padding-bottom: 7rem;
}

/* COMPLETED LINK STYLES */

.completedLink {
  color: grey;

  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  text-decoration: underline dotted grey;
  text-underline-offset: 2px;
  font-size: 14px;
  cursor: pointer;
}

/* TASK TEMPLATES */
.taskTemplate-cont {
  padding-bottom: 1rem;
}
.templateHeader {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  color: rgb(54, 54, 54);
}

.templateSectHeader {
  color: grey;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.templateItem {
  display: flex;
  flex-direction: row;
  background: rgba(233, 233, 233, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 1rem;
  cursor: pointer;
}
.template1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.templateItem:hover {
  transform: scale(1.01);
}

.templateItem:active {
  transform: translateX(2px) translateY(2px) scale(1.01);
}
.template1 img {
  margin-right: 1rem;
}

/* DONATE PAGE STYLES */
.donateCont {
  background: linear-gradient(rgb(169, 191, 233), rgb(222, 222, 243));
  padding: 3rem 1rem;
}
.donateHeader {
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;

  align-items: center;
  margin: 1rem 0;
}
.donateHeader img {
  margin-left: 0.5rem;
}
.headerDesc {
  margin-bottom: 2rem;
}

.supportItem {
  padding: 0.2rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.supportItem img {
  margin-right: 1rem;
}
.sItemPrice {
  color: rgb(97, 97, 236);
}
.supportItem:hover {
  transform: scale(1.01);
}
.supportItem:active {
  border: 2px solid rgb(145, 145, 248);
}

.supportCta {
  background-color: rgb(146, 146, 221);
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;

  width: 300px;
  margin: 2rem auto 0 auto;
  cursor: pointer;
}
.supportActive {
  background: #0606e7;
}
/* Task Page */
.dropDownIcon {
  padding: 0.6rem 1rem;
}

.taskInput {
  /* background-color: rgb(207, 207, 207); */
  width: 100%;
  height: 150px;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: fixed;
  inset: 0;
  z-index: 900;
  top: 200px;
  background: #f0f0f0;
  /* border: 1px solid blue; */
  /* background: #00000077; */
}

.inputOverlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background: hsla(0, 0%, 0%, 0.856);
}

.taskInputBox {
  background-color: rgba(216, 216, 216, 0.747);
  padding: 1rem;
  border-radius: 0.8rem;
  caret-color: blue;
  color: #3a4eff;
  border: none;
  outline: none;
}
.taskInputBox:focus {
  border: none;
  outline: none;
}

.inputTaskBtns {
  padding: 0.5rem;
}
.inputCategory {
  background: rgb(207, 207, 207);
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  color: #3a4eff;
  cursor: pointer;
}
.inputCalendar {
  height: 2rem;
}
.taskSubmitBtn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasksCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.manageCatHeader {
  padding: 1rem;

  background: #fffefe;
}
.manCatHeaders {
  position: sticky;
  top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}
.manArrow {
  position: absolute;
  left: 10px;
}
.secondHeader {
  padding: 0.7rem;
  background: rgb(198, 198, 255);
}
.createCategory {
  padding: 0.5rem 0;
}
.plusIcon {
  margin-right: 0.5rem;
  font-size: 2rem;
}
.categoriesCont {
  padding: 1rem;
  /* border: 1px solid blue; */
  margin-top: 0.5rem;
}

.reorderInfo {
  color: grey;
  /* border: 1px solid blue; */
  padding: 0.5rem;
  margin-top: 2rem;
  text-align: center;
}
.modalOverlay,
.editModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  width: 100%;
}
.modalOverlay {
  background: rgba(0, 0, 0, 0.5);
}

.catForm {
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background: #fff;

  min-height: 200px;
}

.formHeader {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.catInput {
  background: rgba(238, 238, 238, 0.445);
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  width: 100%;
  min-height: 100px;
}
.catInput:focus {
  outline: none;
  border: none;
}
.deleteBtns {
  width: 100%;
  margin-top: 1rem;
  text-align: right;
}
.catBtns,
.delBtns {
  font-weight: bold;
  margin-right: 1rem;
}
.catBtnCancel,
.CancelDel {
  color: rgba(182, 182, 243, 0.753);
}
.catBtnSave,
.goDel {
  color: rgb(161, 161, 255);
}

.catListItem {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.catItemCont {
  width: 100%;
  /* border: 1px solid blue; */
}
.catItemName {
  width: 90%;
}
.editCont {
  padding: 0.5rem;

  box-shadow: 0px 4px 15px rgba(184, 184, 184, 0.863);
}
.editDropdown {
  padding: 0.5rem;
  cursor: pointer;
}

/* OTHER */
.repeatActive {
  background-color: rgb(68, 68, 248);
  color: white;
}

.completed-task {
  opacity: 0.55;
  filter: grayscale(100%);
  /* text-decoration: line-through; */
  transition: 0.2s ease;
}

/* ANIMATIONS */

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.7);
  }
  70% {
    box-shadow: 0 0 10px 6px rgba(34, 197, 94, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
  }
}

.pop-animation {
  animation: pop 0.25s ease-out;
}

.glow-animation {
  animation: pulseGlow 0.4s ease-out;
}
